body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #D3E2B6;
  color: #3A8585;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hidden {
  display: none;
}

.canvas-wrap {
  position:relative
} /* Make this a positioned parent */

.container   {
  position: absolute;
  top: 20px;
  left: 30px;
  /* min-width:336px; */
}

h1 {
  margin-bottom: 0;
  font-size: 200%;
  opacity: 0.9;
}

h2 {
  margin-top: 0;
  font-size: 130%;
  opacity: 0.7;
}

h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: #195388;
    opacity: .6;
}

/* visited link */
a:visited {
    color: #195388;
    opacity: .6;
}

/* mouse over link */
a:hover {
    color: #9a1c2a;
    opacity: .8;
}

/* selected link */
a:active {
    color: #9a1c2a;
    opacity: .8;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin: 8px 8px 0;
}

.container {
  margin: 64px 0 0 0;
}

.content {
  margin-top: 32px;
}
